@font-face {
	font-family: Open_sansB;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
@font-face {
	font-family: Open_sansR;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: PlayB;
	src: url(../fonts/Play/Play-Bold.ttf);
}
@font-face {
	font-family: PlayR;
	src: url(../fonts/Play/Play-Regular.ttf);
}
body{
	height: 3370px;
	width: 100%;
	background: #F3F3F3;
}
.header{
	width: 100%;
	height: 73px;
	background: #fff;
}
.slider{
	width: 100%;
	height: 620px;
	background: #222224;
}
.content1{
	margin-top: 55px;
	max-width: 1300px;
	height: 790px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}
.content2{
	margin-top: 170px;
	width: 100%;
	background: #222224;
	height: 560px;
}
.content3{
	margin-top: 70px;
	max-width: 1220px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	height: 698px;
}
.advs{
	width: 100%;
	height: 226px;
	margin-top: 80px;
	background: #fff;
}
.adv_block{
	width: 100%;
	background: #222224;
	height: 190px;
}
.logo{
	background-size: 100%;
	background-image: url(../img/header_logo.png);
	width: 224px;
	height: 61px;
	margin-left: 24px;
	float: left;
	margin-top: 7px;
}
.menu_group{
	float: right;
	height: 73px;
	background: #555;
	margin-right: 73px;
}
.menu_obj{
	background: #fff;
	width: 73px;
	cursor: pointer;
	height: 73px;
	float: left;
	transition-duration: 0.55s;
}
.all_svg{
	position: absolute;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100%;
	transition-duration: 0.3s;
}
.search_svg{
	width: 31px;
	height: 31px;
	background: url(../img/search.svg);
	margin-top: 21px;
	margin-left: 21px;
}
.search_svg_active{
	opacity: 0;
	background: url(../img/search_active.svg);
	width: 31px;
	height: 31px;
	margin-top: 21px;
	margin-left: 21px;
}
.search:hover .search_svg_active {
	opacity: 1;
}
.search:hover{
	background: #f55500;
}
.search:hover .search_svg {
	opacity: 0;
}
.cart_svg{
	width: 35px;
	height: 31px;
	margin-top: 21px;
	fill: pink;
	margin-left: 19px;
	background: url(../img/cart.svg);
}
.cart_svg_active{
	margin-top: 21px;
	opacity: 0;
	margin-left: 19px;
	background: url(../img/cart_active.svg);
	width: 35px;
	height: 31px;
}
.cart:hover .cart_svg_active{
	opacity: 1;
}
.cart:hover{
	background: #f55500;
}
.cart:hover .cart_svg{
	opacity: 0;
}
.menu_svg{
	margin-left: 23px;
	width: 27px;
	height: 19px;
	background: url(../img/menu.svg);
	margin-top: 27px;
}
.menu_svg_active{
	opacity: 0;
	margin-left: 23px;
	width: 27px;
	margin-top: 27px;
	height: 19px;
	background: url(../img/menu_active.svg);
}
.menu:hover .menu_svg_active{
	opacity: 1;
}
.menu:hover{
	background: #f55500;
}
.menu:hover .menu_svg{
	opacity: 0;
}